<% layout('layout') -%>



<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h1>Create a New Pin</h1>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title :</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description :</label>
                    <input type="text" class="form-control" name="desc">
                </div>
                <div class="form-group">
                    <label for="username">Create By :</label>
                    <input type="text" class="form-control" name="username" >
                </div>
                <div class="form-group">
                    <label for="sampleFile">Image Path :</label>
                    <input type="file" class="form-control-file" name="sampleFile" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>


        </div>
    </div>
</div>